<div class='events-header' style='background-image: url(<%= header_background_image_url %>)'>
  <div class="container">
    <h2> Discover upcoming events </h2>
    <form>
      <%= text_field_tag :search, params[:search] ,placeholder: 'Search for events, shows, courses...', class: 'form-control'%>
    </form>
  </div>
</div>
<div class="events-list">
  <div class="container">
    <% @events.in_groups_of(2) do |g| %>
      <div class="row">
        <% g.compact.each do |e| %>
            <%= render partial: 'card', locals: {event: e} %>
        <% end %>
      </div>  
    <% end %>
  </div>
</div>
