/*
 *= require bootstrap-datepicker
*/
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700');
@import "bootstrap";
@import "font-awesome";
@import "col-helpers";
@import "nav";
@import "events";
@import "tickets";
@import "sessions";

body {
  font-family: 'Roboto', sans-serif;;
  background-color: #fafafa;
}
.btn.btn-danger {
  background-color: rgb(216, 87, 66);
  border: 2px solid rgb(241, 112, 91);
}

h1{
  margin-top: 50px;
}
